<div class="container">
	<div class="main-container signup">
		<h3>Welcome <% if @user_type == "Photographer" %><%= @user_type %><%end%></h3>
		<h5>to</h5>
		<h3>Vignette</h3>
		<!-- <input type="text" name="InviteCode" value="" placeholder="Enter Invite Code"> -->
		<%= button_to "Sign Up with Facebook", "/auth/facebook"%>
	</div>
</div>