<div class="container">
	<div class="main-container signup">
		<h3>Welcome <% if @user_type == "Photographer" %><%= @user_type %><%end%></h3>
		<h5>to</h5>
		<h3>Vignette</h3>
		<%= button_to "Sign In with Facebook", "/auth/facebook"%>
	</div>
</div>