<% content_for :head do %>

  <title>Request a Photographer</title>

<button type="button" id="reserve-btn"><a>Reserve Photographer Here:</a><br></button>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-eEGhus9zRE4SpPYdnsA5bA1enVe790k&sensor=false" type="text/javascript"></script>
  
<script src='//google-maps-utility-library-v3.googlecode.com/svn/trunk/geolocationmarker/src/geolocationmarker-compiled.js' type='text/javascript'></script>
<script>
    var geocoder;
    var map;
    var GeoMarker;
    var infowindow = new google.maps.InfoWindow();
  
    function initialize() {
      
      geocoder = new google.maps.Geocoder();

      //initializing map
      var mapOptions = {
        zoom: 18,
        center: new google.maps.LatLng(-34.397, 150.644),
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };

      map = new google.maps.Map(document.getElementById('map-canvas'),
          mapOptions);

      //setting user location 
      GeoMarker = new GeolocationMarker();
      GeoMarker.setCircleOptions({visible: false});

      google.maps.event.addListenerOnce(GeoMarker, 'position_changed', function() {
        map.setCenter(this.getPosition());
      });

      google.maps.event.addListener(GeoMarker, 'geolocation_error', function(e) {
        alert('There was an error obtaining your position. Message: ' + e.message);
      });

      GeoMarker.setMap(map); 

      //info window that prints out coordinates 
      // var infoWnw = new google.maps.InfoWindow({
      //  content : map.getCenter().toUrlValue(),
      //  position : map.getCenter(),
      // });
      // infoWnw.open(map);

      //retrieve coordinates from map center and print to infoWindow
      google.maps.event.addListener(map, "dragend", function() {
        codeLatLng();
      });

    } //end initialize fxn

    //reverse geocode
    function codeLatLng() {
      var input = map.getCenter();
      var lat = input.ob;
      var lng = input.pb;
      var latlng = new google.maps.LatLng(lat, lng);
      
      geocoder.geocode({'latLng': latlng}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          if (results[1]) {
            $('#reserve-btn').html('<a>Reserve Photographer Here:</a><br>'+results[1].formatted_address);
            $('#reserve-btn').click(function(){
              $.ajax({
                type    : 'POST',
                url     : "/albums", 
                data    : { album: { lat: lat, lng: lng } },
                success : function(data) {
                            alert(data);          
                          },  
              });
            });
          } else {
            alert('No results found');
          }
        } else {
          alert('Geocoder failed due to: ' + status);
        }
      });
    } //end codeLatLng fxn

    google.maps.event.addDomListener(window, 'load', initialize);
    
    if(!navigator.geolocation) {
      alert('Your browser does not support geolocation');
    }
  </script>
<% end %>

<div id="map-canvas">
</div>

<script>
  $(function(){
    $("#reserve-btn").click(function(){
       $.ajax({
                type    : 'POST',
                url     : "/albums/new", 
                data    : { lat: map.getCenter().ob, lng: map.getCenter().pb },
                success : function(data) {
                            alert(map.getCenter());          
                          },  
              });
    });
  });
</script>