<div class="container">
	<div class="main-container profile">
		<img src=<%= @photographer.image %> alt="">
		<h3><%= @photographer.name %></h3>
		<div class="user-location">
			<input type="text" name="" value="" placeholder="Address" id="address">
			<input type="text" name="" value="" placeholder="City" id="city">
			<input type="text" name="" value="" placeholder="State" id="state">
			<input type="text" name="" value="" pattern="[0-9]*" maxlength="5" required placeholder="ZIP" id="zip">
		</div>
		<div class="camera">
			<input type="text" name="" value="" placeholder="camera equipment">
		</div>
		<input type="textarea" name="" value="" placeholder="Tell us about you as a photographer">
		<input type="text" name="" value="" placeholder="One random fact about you">
	</div>
</div>

<script>

$("#zip").keyup(function() {
  var el = $(this);

  if ((el.val().length == 5) && $.isNumeric(el.val())) {
   
	    $.ajax({
	  url: "http://zip.elevenbasetwo.com",
	  cache: false,
	  dataType: "json",
	  type: "GET",
	  data: "zip=" + el.val(),
	  success: function(result, success) {

	    $("#city").val(result.city); /* Fill the data */
	    $("#state").val(result.state);

	    $("#address").focus(); /* Put cursor where they need it */

	  }

	});
  }

})
</script>