// Place all the styles related to the Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html { 
  height: 100%;
}

body { 
  height: 100%; 
  margin: 0; 
  padding: 0;
}

#map-canvas { 
  height: 100%;
}

button#reserve-btn {
  border:none;
  padding: 10px 20px;
  background-color: white;
  color:red;
  border-radius: 4px;
  position:fixed;
  top: 55%;
  left: 45%;
  z-index:30;
}