// Place all the styles related to the Reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html { 
  height: 100%;
}

body { 
  height: 100%; 
  margin: 0; 
  padding: 0;
}

#map-canvas { 
  height: 100%;
}

button#reserve-btn {
  border: none;
  padding: 5px;
  width: 280px;
  background-color: rgba(255,255,255,0.8);
  color: red;
  border-radius: 4px;
  position: fixed;
  top: 36%;
  left: 38%;
  z-index: 30;
  box-shadow: 0 1px 3px black;
}

button#reserve-btn:before {
  content: "\f118";
  font-family: 'Ionicons';
  position: absolute;
  width: 40px;
  height: 40px;
  font-size: 40px;
  top: -40px;
  margin-left: -15px;
  color: #0066cb;
}


button#reserve-btn:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 20px;
  border-style: solid;
  border-color: #6f6f6f  transparent transparent transparent;
  top: 100%;
  left: 125px;
}

div#reserve-btn-center {
  text-align: center;
  margin: 6px 0;
  padding: 0 12px; 
}

#reserve-btn-center h5 {
  font-size: 18px;
  margin: 0 0 6px 0;
}

#reserve-btn-center i {
  font-size: 14px;
  color: #0066cb;
}

#reserve-btn-center a {
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  font-weight: 700;
  font-style: normal;
  margin-left: 6px;
  font-size: 14px;
  color: #0066cb;
}