<header class="navigation" id="navigation">
<h1><a href="/">Vignette</a></h1>
<nav>
	<ul>
		<% if current_user %>
		<li>
			<%= link_to current_user.name, current_user %>
		</li>
		<span><%= link_to "", logout_path, class: "ion-power" %></span>
		<li>
			<%= link_to "Log Out", logout_path %>
		</li>
		<% end %>
	</ul>
</nav>
</header>